html, body, section {
    block-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section:nth-of-type(even) {
    color: white;
    background: black;
  }
  
  section:nth-of-type(odd) {
    color: black;
    background: white;
  }

  .bg-dark-blue {
    background-color: #13293D;
    /* Replace this with your desired dark-blue color */
}