html, body, section {
    block-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section:nth-of-type(even) {
    color: white;
    background: black;
  }
  
  section:nth-of-type(odd) {
    color: black;
    background: white;
  }

  .bg-dark-blue {
    background-color: #13293D;
    /* Replace this with your desired dark-blue color */
}

.icon-white{
    color: white;
  }


img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.imagecontainer {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
}

.imageitem {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 1.5rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  margin-left: -4px;
}

.icon-white {
  color: white;
}

.svgresize{
  height: 10vw;
  width: 10vw;
}

.subText{
  margin-top: 1vw;
}