@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Bowlby+One+SC&family=Gruppo&family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-align: left;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 40px;
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-size: 1.00rem;
}

.beautiful-link {
    font-weight: 1000;
    color: #000000;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.beautiful-link::before {
    background-color: rgb(255, 157, 0);
    position: absolute;
    content: "";
    height: 3rem;
    width:50%;
    z-index: -1;
    bottom: 0;
    transform: translate(-8px, 4px);
}