.parallax {
    background-size: cover;
    height: 100vh;
}

.parallaxContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallaxContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.parallaxContainer h2 {
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 60px;
}

.parallaxContainer h2 span {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 10px;
}

@media (max-width: 800px) {
    .parallaxContainer h2 {
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
    }

    .parallaxContainer h2 span {
        font-size: 26px;
    }
}

circle {
    height: 100vhs;
}

.shape {
    fill: none;
    stroke: #1d1d1b;
}

#tutorial {
    overflow: visible;
    width: 50%;

    top: 100px;
    transform: rotate(-150deg);
}

.halfImage{
    width: 50%;
    height: auto;
}

.vertical-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
}

.vertical-header-left {
    position: relative;
    writing-mode: vertical-lr;
}

.possition-right{
    position: absolute;
}
.bg-dark-blue {
    background-color: #13293D;
    /* Replace this with your desired dark-blue color */
}