.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

h1 {
  font-family: 'Climate Crisis';
  font-size: 4vw;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.icon-white{
     color: white;
}

#about{
    background-color:#101726;
}

#about > div > div.col-sm-8.mx-auto.p-5 > div > p{
    color:white;
}

#about > div > div.col-sm-8.mx-auto.p-5 > div > h1{
    color:white;
}